.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
.nav a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.nav a:hover{
    text-decoration: underline;
}

.search_bar{
    padding: 10px 15px;
    font-size: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.search_bar:focus{
    outline: none;
    border-color: #ccc;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}

.search_btn{
    background-color: #1a73e8;
    color: white;
    padding: 10px 16px;
    font-size: 15px;
    margin-left: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.row {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 200px;
}
input[type="text"] {
    padding: 10px 15px;
    font-size: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}
input[type="text"]:focus{
    outline: none;
    border-color: #ccc;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2);
}
